In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from plotly import __version__
%matplotlib inline

In [20]:
print(__version__)

2.0.10

In [22]:
from plotly.offline import init_notebook_mode,iplot,plot,download_plotlyjs

In [23]:
init_notebook_mode(connected=True)

In [49]:
df=pd.DataFrame(np.random.randn(100,5),columns='a b c d e'.split())

In [50]:
df.head()

          a         b         c         d         e
0  0.384153  0.273261 -0.613100 -0.168472  0.812819
1  1.553752 -0.604858  0.779916  0.743875  0.177550
2  1.418404  0.352135 -0.321292 -0.078395  0.683351
3 -0.396582 -0.713445  0.469988  0.024423 -1.556005
4 -0.329481 -0.326459 -0.941811  0.051756 -0.349455

In [51]:
df2=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})

In [52]:
df2

   A  B
0  1  4
1  2  5
2  3  6